$neat-grid: (
  columns: 20,
  gutter: 0px,
);

$gallery-grid: (
  columns: 5,
  gutter: 4px,
);

$mobile-grid: (
  columns: 1,
  gutter: 3px,
);

.nav-edge {
  @include grid-column(4, $neat-grid);
  @include grid-push(16);
};

.main {
  @include grid-column(20, $neat-grid);
}

.body-container {
  @include grid-column(16, $neat-grid);
}

.body-container img {
  @include grid-column(6, $neat-grid)
}

.body-container p {
  @include grid-column(9, $neat-grid);
    @media #{$mobile} {
      @include grid-column(1, $mobile-grid);
    }
}

.thumb-card {
  @include grid-column(1, $gallery-grid);
    @media #{$mobile} {
      @include grid-column(1, $mobile-grid);
    }
}
