.nav-edge {
  position: absolute;
  position: fixed;
  float: right;
  opacity:0.6;
  height: 10000px;
  overflow: hidden;
  img {
    max-height: 10000px;
    width: 200%;
    transform: translateX(-70);
  }
  @media #{$mobile}{
    display: none;
  }
}

.bio {
  margin-top: 20px;
  text-align: left;
  height: 80px;
  width: 100%;
  overflow: hidden;
  h3 {
    margin-top: 5px;
    margin-left: 5px;
  }
}

.bio {
  background: url(../img/portrait.jpg);
}

.gallery-button {
  @extend .bio;
  background: url(../img/bek10.jpeg)
}

.similar-button {
  @extend .bio;
  background-image: url();
}
