body {
  font-family: $helvetica;
}

.main {
  margin-top: -20px;
  position: relative;
  height: 2000px;
  margin-left: -6px;
  background-image: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @media #{$mobile} {
    width: 100%;
    background: contain;
    height: 500px;
    margin-bottom: -10;
    margin-right: -20;
  }
};

ul {
  position: absolute;
  text-shadow: 5px 5px 5px $bek-orange;
  color: $bek-blue;
  font-size: 70px;
  text-align: center;
  margin-top: 10px;
  margin-left: 80px;
  list-style: none;
  border-right: solid 3px $bek-orange;
  border-radius: 4px;
  &:nth-of-type(2) {
    margin-left: 205px;
    margin-top: 50px;
  }
  @media #{$mobile} {
  font-size: 20px;
  }
}

li:nth-of-type(1) {
  font-size: 90px;
  @media #{$mobile} {
    font-size: 30px;
  }
}

.body-container {
  margin-top: 1900px;
  width: 100%;
  @include linear-gradient($bek-orange, $bek-brown);
  img {
    margin-left: 20px;
    margin-top: -140px;
    border: 5px solid $bek-blue;
    border-radius: 3px;
  }

  h1 {
    margin-top: 30px;
  }

  p {
    float: left;
    margin: 15px;
    font-size: 20px;
  }
  @media #{$mobile} {
    margin-top: 470px;
    float: right;
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 20px;
      text-align: right;
      margin-right: 20px;
      width: 90%;
    }
  }
}

.gallery {
  margin-left: 20px;
  margin-top: 560px;
  margin-right: 150px;
  h1 {
    width: 400px;
    margin-bottom: 70px;
    border-bottom: 3px solid $bek-blue;
    margin-left: 30px;
    margin-top: -60px;
  }
}

.thumb-card {
  opacity: 0.7;
  margin: 15px;
  margin-top: 190px;
  size: 150px;
  float: left;
  transition: width 1.5s, tranform 2s;
  @media #{$mobile} {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

.thumb-card:hover {
  @media #{$pc} {
    width: 100%;
  }
}
